<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= link_to default, root_path %>
		<!-- <%= gravatar_for @user %> Until fully online -->
        <%= @user.name %>
      </h1>
	  
    <% unless @user.microposts.empty? %>
        <table class="microposts" summary="User microposts">
          <%= render @microposts %>
        </table>
        <%= will_paginate @microposts %>
      <% end %>
	</td>
    <td class="sidebar round">
	  <strong>Ideas:</strong> <%= @user.microposts.count %> <br />
	  <strong>URL</strong> <%= link_to user_path(@user), @user %><br />
      <strong><%= link_to "Edit Profile", edit_user_path(current_user) %></strong>
	</td>
  </tr>
</table>