<tr>
 <!--  <td class="gravatar">
    <%= link_to default, root_path %>
	<%= link_to gravatar_for(feed_item.user), feed_item.user %> 
  </td> -->
  <td class="micropost">
   <!-- <span class="user">
      <%= link_to feed_item.user.name, feed_item.user %> 
    </span> COMMENTED OUT BECAUSE DON'T NEED USERNAME AT THIS POINT -->
	<span class="coreidea"><strong><%= feed_item.coreidea %></strong></span><br />
	<span class="content"><%= feed_item.content %></span><br />
    <span class="timestamp" align = "right">
      Conceived <%= time_ago_in_words(feed_item.created_at) %> ago.
    </span>
  </td>
  <% if current_user?(feed_item.user) %>
  <td>
  <div class = "deleteexpand">
    <%= link_to "expand", "#" %><br />
	<%= link_to "delete", feed_item, :method => :delete,
                                     :confirm => "Are you sure?",
                                     :title => feed_item.content %>
</div>									 
  </td>
  <% end %>
</tr>