<tr>
 <!--  <td class="gravatar">
    <%= link_to default, root_path %>
	<%= link_to gravatar_for(feed_item.user), feed_item.user %> 
  </td> -->
  <td class="micropost">
   <!-- <span class="user">
      <%= link_to feed_item.user.name, feed_item.user %> 
    </span> COMMENTED OUT BECAUSE DON'T NEED USERNAME AT THIS POINT -->
	<span class="coreidea"><strong><%= link_to feed_item.coreidea, feed_item %></strong></span><br />
	<span class="content"><%= simple_format(auto_link(feed_item.content)) %></span><br />
    <span class="timestamp" align = "right">
      Conceived <%= time_ago_in_words(feed_item.created_at) %> ago.
    </span>
  </td>
  <% if current_user?(feed_item.user) %>
  <td>
  <div class = "deleteexpand">
	<%= link_to "expand", feed_item %><br />
	<%= link_to "delete", feed_item, :method => :delete,
                                     :confirm => "Are you sure? You can never ever undo this.",
                                     :title => feed_item.content %>
</div>									 
  </td>
  <% end %>
</tr>