<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h3 class="micropost">Any clever ideas?</h3>
        <%= render 'shared/micropost_form' %>
		
		<%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
      </td>
    </tr>
  </table>
<% else %>

<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
<div class = "what">
	  <%= link_to "What is this place?", about_path %>
</div>
    </td>
    <td>
     <div align="right"> <blockquote>
	A place where your ideas can go to avoid being lost, buried or forgotten.</blockquote><br />
    <%= link_to "Get started now.", signup_path, :class => "signup_button round" %>
	</div>
	</td>
  </tr>
</table>
<% end %>

