<h1>Idea #<%= SecureRandom.random_number(99999) %></h1><br/>
<p>
<strong><%= simple_format(auto_link(@micropost.coreidea)) %></strong>
</p>
<p>
<%= simple_format(auto_link(@micropost.content)) %>
</p>
<% @micropost.comments.each do |comment| %>
<p><ul>
<li><%= simple_format(auto_link(comment.comment)) %>
</ul>
</p>
<% end %>
<div>
<%= render 'shared/comment_form' %>
</div>